[submodule "backends/rwkvcpp_ref"]
	path = backends/rwkvcpp_ref
	url = https://github.com/RWKV/rwkv.cpp.git

[submodule "test_model/ChatRWKV"]
	path = test_model/ChatRWKV
	url = https://github.com/BlinkDL/ChatRWKV.git
